@model IEnumerable<Web.Db.Entity.Roadmap>
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Roadmaps");
}

<h1>@ViewData["Roadmaps"]</h1>
<p>
   <a asp-action="Create">@SharedLocalizer.GetLocalizedHtmlString("Create New")</a>
</p>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@SharedLocalizer.GetLocalizedHtmlString("Name")</th>
                    <th>@SharedLocalizer.GetLocalizedHtmlString("Visibility")</th>
                    <th>@SharedLocalizer.GetLocalizedHtmlString("Status")</th>
                    <th>@SharedLocalizer.GetLocalizedHtmlString("StartDate")</th>
                    <th>@SharedLocalizer.GetLocalizedHtmlString("EndDate")</th>
                    <th>@SharedLocalizer.GetLocalizedHtmlString("UserId")</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Visibility)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            @Html.ActionLink(@SharedLocalizer.GetLocalizedHtmlString("Edit"), "Edit", new { id = item.Id })
                            @Html.ActionLink(@SharedLocalizer.GetLocalizedHtmlString("Details"), "Details", new { id = item.Id })
                            @Html.ActionLink(@SharedLocalizer.GetLocalizedHtmlString("Delete"), "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
